body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 90px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  z-index: 99;
}

.sidebar .nav-link.active {
  color: #fd0d69;
}

.navbar {
  background-color: navy;
  box-shadow: inset -1px 0 0 black;
}

.nav-link {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.card {
  text-align: center;
}

.row {
  align-items: center;
}

.hidden { 
  display: none;
}

.inline-errormsg {
  color: red;
  font-size: 12px;
  padding: 10px;
}

label {
  margin-top: 15px;
  margin-bottom: 5px;
}

.form-control { 
  margin-left: 490px;
  padding: 25px;
}

.login-btn {
  background-color: navy;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-right: 15px;
}

.signup-btn {
  background-color: navy;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-left: 15px;
}

.title {
  padding-bottom: 50px;
}